{% for action in actions %}
    {% if loop.index < max_actions + 1 %}
        {{ include('@KRGEasyAdminExtension/default/includes/_action.html.twig') }}
    {% endif %}
{% endfor %}

{% if actions|length > max_actions %}
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% for action in actions %}
                {% if loop.index > max_actions %}
                    {{ include('@KRGEasyAdminExtension/default/includes/_action.html.twig') }}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
