{% set dropdowns = [] %}

{% for action in actions %}
    {% if action.menu_dropdown is not defined %}
        {{ include('@KRGEasyAdminExtension/default/includes/_action_button.html.twig') }}
    {% else %}
        {% if action.menu_dropdown|trans not in dropdowns %}
            {% set dropdowns = dropdowns|merge([action.menu_dropdown]) %}
        {% endif %}
    {% endif %}
{% endfor %}

{% for dropdown in dropdowns %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ dropdown == 'true' ? '' : dropdown }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% for action in actions if (action.menu_dropdown is defined and action.menu_dropdown|trans == dropdown|trans) %}
                {{ include('@KRGEasyAdminExtension/default/includes/_action_button.html.twig') }}
            {% endfor %}
        </ul>
    </div>
{% endfor %}
