{% extends config.design.templates.layout %}

{% block content_title %}<i class="fa fa-dashboard"></i> {{ 'dashboard.title'|trans({}, 'KRGEasyAdminExtensionBundle') }}{% endblock %}

{% block main %}
    {% for widget in widgets %}
        {{ widget.render|raw }}
    {% else %}
        <div class="well well-lg">Welcome {{ app.user }}</div>
    {% endfor %}
{% endblock %}
