.content-wrapper {
    background: #fcfcfc;
}

/* LIST */

body.list table {
    border: 0;
}

body.list table tbody {
    border: 0;
}

body.list table tbody td {
    font-size: 14px;
    color: #4c4c4c;
    border-top: 1px solid #e9e9e9;
    padding: 11px 15px;
    white-space: nowrap;
}

body.list .table-responsive table thead th {
    color: #788195;
    font-size: 13px;
    background-color: #f1f3f6;
    border-bottom: 0;
}

body.list .table-responsive table thead th:first-child {
    border-top-left-radius: 4px;
}

body.list .table-responsive table thead th:last-child {
    border-top-right-radius: 4px;
}

body.list .table-responsive table thead th.sorted,
body.list .table-responsive table thead tr th:first-child.sorted,
body.list .table-responsive table thead th.sorted a {
    border: 0;
    background: #e4e6ea;
}

body.list .table-responsive table tbody td.sorted {
    border-color: #e9e9e9;
}

body.list .table-responsive table thead th a,
body.list .table-responsive table thead th span {
    color: #788195;
    padding: 16px 15px;
    text-align: left;
}

body.list .table-responsive table thead th a:hover {
    background: #e4e6ea;
}

body.list .table tbody {
    border-bottom: 0;
}

/* BTN */

body.list table tbody td.actions a,
body.list table tbody td.actions a:hover,
body.list table tbody td.actions a:active,
body.list table tbody td.actions a:active:hover {
    font-size: 12px;
    padding: 6px 10px 5px;
    margin-right: 0;
}

body.list table tbody td.actions a i.fa {
    font-size: 12px;
}

body.list td.actions .btn.dropdown-toggle {
    padding: 4px 11px;
}

body.list td.actions .btn.btn-default.dropdown-toggle {
    background: #f1f3f6;
    color: #788094;
}

body.list table tbody td.actions .open > .dropdown-toggle {
    border-color: transparent;
}

body.list table tbody td.actions .dropdown-menu {
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
    padding: 0;
    border: 0;
}

body.list table tbody td.actions .dropdown-menu a {
    display: block;
    padding: 12px;
    border-bottom: 1px solid #fefefe;
    color: #333;
}

body.list table tbody td.actions .dropdown-menu a:hover {
    background: #f1f3f6;
    border-radius: 3px;
}

body.list table tbody td.actions .dropdown-menu a:last-child {
    border-bottom: none;
}

.btn-more,
.btn-more:hover,
.btn-more:active,
.btn-more:focus,
.btn-more:hover:active {
    background: transparent;
    color: #5A5A5A;
}

.sortable-ghost {
    background: #e0e0e0 !important;
}

body.list table tbody td.actions .btn-sort,
body.list table tbody td.actions .btn-sort:hover,
body.list table tbody td.actions .btn-sort:active,
body.list table tbody td.actions .btn-sort:hover:active {
    padding-left: 0;
    cursor: row-resize;
    color: #333;
}

.toggle-group .toggle-off,
.toggle-group .toggle-off.btn-xs,
.toggle-group .toggle-off:hover,
.toggle-group .toggle-off:active,
.toggle-group .toggle-off:active:hover,
.toggle.btn-danger,
.toggle.btn-danger:hover,
.toggle.btn-danger:active,
.toggle.btn-danger:active:hover,
.toggle.btn-danger:focus {
    background-color: #b2b2b2 !important;
    border-color: #9b9b9b;
}

.toggle-group .toggle-on,
.toggle-group .toggle-on.btn-xs,
.toggle-group .toggle-on:hover,
.toggle-group .toggle-on:active,
.toggle-group .toggle-on:active:hover,
.toggle.btn-success
{
    background: #42a65d;
    border-color: #348b5e;
}

.toggle-group .label.label-success {
    padding: 6px 9px;
    border-radius: 3px;
    border: 1px solid #348a5e;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #42a65d !important;
}

.label {
    padding: 6px 5px 5px;
}

.label:not([class*=label-]) {
    background: #dadada;
    color: #565656;
    font-weight: normal;
}

.label.label-default:hover {
    background-color: #dadada;
}

.label.label-success {
    background: #42a65d !important;
}

.label-rounded {
    border-radius: 50%;
    height: 30px;
    width: 31px;
    line-height: 31px;
    padding: 0;
    text-align: center;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #ffb822 !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:hover, .label-info {
    background-color: #36a3f7 !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:hover, .label-danger {
    background-color: #DF3A4A !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:hover,
.label-primary {
    background-color: #273162;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:hover,
.label-secondary {
    background: none;
    border: 1px dashed #d8d8d8;
    color: #717171;
    text-decoration: none;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:hover,
.label-info {
    color: #fff !important;
}

.btn-group .btn-secondary,
.btn-group .btn-secondary:hover,
.btn-group .btn-secondary:active,
.btn-group .btn-secondary:hover:active {
    border: 1px transparent solid;
}

/* FORM */

.form-control, .form-inline .form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
    padding: 9px 12px;
}

.action-search .form-control {
    padding: 4px 12px 5px;
}

.form-group .form-group .col-sm-2:empty {
    display: none;
}

.form-group .form-group .col-sm-2:empty + .col-sm-10 {
    width: 100%;
}

.select2-container--bootstrap .select2-selection {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

/* BOX */

.box.box-primary {
    border: 1px solid #ebebeb;
    box-shadow: none;
}

.box,
.field-group .box {
    border: 1px solid #ebebeb;
    box-shadow: none;
}

.box-header.with-border,
.field-group .box-header.with-border {
    border-bottom-color: #ebebeb;
    padding: 20px 15px 19px;
    margin-bottom: 10px;
    background: transparent;
}

.box-header.with-border h3.box-title,
.field-group .box-header.with-border h3.box-title {
    font-size: 19px;
    color: #323332;
    font-weight: 400;
    line-height: 1.2;
}

main.flex {
    display: flex;
}

main.flex > section {
    width: 100%;
}

main.flex > aside.filter-sidebar {
    margin-left: 10px;
}

main.flex > aside.filter-sidebar > section {
    padding: 10px;
    width: 230px;
    height: calc(100vh - 50px);
}

main.flex > aside.filter-sidebar > section legend,
main.flex > aside.filter-sidebar > section label {
    border: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    margin-bottom: 5px;
}

main.flex > aside.filter-sidebar > section .filter-sidebar-close {
    color: white;
    font-weight: normal;
    font-size: 20px;
}

main.flex .box {
    border: 0;
    box-shadow: none;
    background: transparent;
}

#flash-messages {
    padding-top: 5px;
}

#flash-messages .alert {
    margin: 15px;
}

/**/

.dashboard-stats {
    list-style: none;
}

.dashboard-stats li {
    border: 0;
    padding: 0;
}

.dashboard-stats .stats-title {
    color: #737373;
    text-transform: uppercase;
}

.dashboard-stats .stats-value {
    line-height: 7rem;
    display: block;
    font-size: 5em;
    font-weight: 100;
}
