{% if field_options.labeled|default(false) %}
    <span class="label {{ (value ~ '_label')|trans({}, field_options.domain|default('messages')) }}">
{% endif %}
    {{ value|trans({}, field_options.domain|default('messages')) }}
{% if field_options.labeled|default(false) %}
    </span>
{% endif %}
