{% use '@EasyAdmin/form/bootstrap_3_layout.html.twig' %}

{% block form_end %}
    <div class="row">
        <div class="col-xs-12 form-actions">
            <div class="form-group">
                <div id="form-actions-row">
                    {{- block('item_actions') -}}
                </div>
            </div>
        </div>
    </div>
    {{- parent() -}}
{% endblock form_end %}

{% block easyadmin_rest %}
    {{ form_rest(form) }}
{% endblock easyadmin_rest %}